In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [6]:
#  Import and read the test.csv.
 
train_df = pd.read_csv("Data/train.csv")
train_df.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [7]:
train_df.dtypes

Type               int64
Name              object
Age                int64
Breed1             int64
Breed2             int64
Gender             int64
Color1             int64
Color2             int64
Color3             int64
MaturitySize       int64
FurLength          int64
Vaccinated         int64
Dewormed           int64
Sterilized         int64
Health             int64
Quantity           int64
Fee                int64
State              int64
RescuerID         object
VideoAmt           int64
Description       object
PetID             object
PhotoAmt         float64
AdoptionSpeed      int64
dtype: object

In [8]:
# duplicate values
print(train_df.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
14988    False
14989    False
14990    False
14991    False
14992    False
Length: 14993, dtype: bool

In [10]:
# missing values
print(train_df.isnull().any())

Type             False
Name              True
Age              False
Breed1           False
Breed2           False
Gender           False
Color1           False
Color2           False
Color3           False
MaturitySize     False
FurLength        False
Vaccinated       False
Dewormed         False
Sterilized       False
Health           False
Quantity         False
Fee              False
State            False
RescuerID        False
VideoAmt         False
Description       True
PetID            False
PhotoAmt         False
AdoptionSpeed    False
dtype: bool

In [12]:
# drop missing values
train_df = train_df.dropna()

In [16]:
df = train_df.drop(['State','RescuerID','Description','PetID'], axis=1)
df.head(10)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,VideoAmt,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,1,2,2,2,1,1,100,0,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,2,3,3,3,1,1,0,0,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,2,1,1,2,1,1,0,0,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,1,1,1,2,1,1,150,0,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,1,2,2,2,1,1,0,0,3.0,2
6,2,BULAT,12,264,264,1,1,0,0,2,3,2,2,3,1,1,300,0,3.0,1
7,1,Siu Pak & Her 6 Puppies,0,307,0,2,1,2,7,2,1,2,2,2,1,6,0,0,9.0,3
9,2,Kitty,12,265,0,2,1,7,0,2,2,3,3,3,1,1,0,0,2.0,4
10,1,Bear,2,307,0,1,1,2,7,2,1,2,1,2,1,1,0,0,7.0,1
11,2,Kali,3,264,0,2,1,2,5,3,3,1,1,2,1,1,50,0,2.0,1

In [21]:
# Create our features
X = df.drop("AdoptionSpeed", axis=1)
X = pd.get_dummies(X)

# Create our target
y = df["AdoptionSpeed"]

In [22]:
X.describe()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Name_é¿ç¦ Afu,Name_éªéª,Name_éé,Name_é»é» Hei Hei,Name_ï¾â¡ï½¡á¦â¤ Brown & Patch ï¾â¡ï½¡á¦â¤,Name_ð¸ð·ð Take Me PLEASE ð,Name_ðððð,Name_ððSolid Black Kittenðð,Name_ðð 3 Kittens & A Mama ðð,Name_ð°ð¾88ð¾ð°FattFatt
count,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,...,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000,13724.000000
mean,1.454969,10.729816,264.709924,75.408992,1.751530,2.246138,3.220125,1.835179,1.871175,1.472530,...,0.000073,0.000073,0.000073,0.000073,0.000073,0.000073,0.000073,0.000073,0.000073,0.000073
std,0.497986,18.388633,60.544047,123.677564,0.665989,1.749747,2.753043,2.962039,0.546346,0.602204,...,0.008536,0.008536,0.008536,0.008536,0.008536,0.008536,0.008536,0.008536,0.008536,0.008536
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,265.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,3.000000,266.000000,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,12.000000,307.000000,192.000000,2.000000,3.000000,6.000000,5.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,255.000000,307.000000,307.000000,3.000000,7.000000,7.000000,7.000000,4.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:
y.value_counts()

4    3761
2    3720
3    3042
1    2817
0     384
Name: AdoptionSpeed, dtype: int64